<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 
<html >
<head>
  <title>Predicting the fake news</title>  
  <title>Predict whether the text is from fake news or genuine News</title>  

</head>

<body>

<div>
	<h1 style="color:blue;">SEIS-745 Data Lake Engineering Project - Fake News Prediction Model  </h1>
	<p  style="color:blue;">1. AWS Stack - EC2, S3, Sagemaker<br>   2. Flask (Web application over AWS cloud) <br>
	3. Analysis through Hue(PySpark) and Tableau</p>
</div>

 <div>
 <br>
	<h1>Predicting fake news </h1>

   <form action="{{ url_for('getprediction')}}"method="post">
    	<input type="text" name="height" placeholder="Enter text for verification" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">getprediction</button>
    </form>

   <br>
   <br>
   {{ output }}

 </div>
<div>
<br> <br>

	<p  style="color:blue;">By: Avinash Verma, Bicky Sharma & Bhuvanesh Singh</p>	
</div>

</body>
</html>